@import "~@/renderer/views/scss/mixin.scss";

.audio-info {
  position: absolute;
  height: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 40px;
  background-color: var(--white);
  box-shadow: 0 0 31px -11px rgba(0, 0, 0, 0.19);
}

/*播放进度条*/
.audio-info-progress {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;

  > .progress-input {
    background: var(--audio-progres);
    width: 100%;
    height: 2px;
    padding: 0;
    margin: 0;
    outline: 0;
    cursor: pointer;
    -webkit-appearance: none !important;

    &::-webkit-slider-thumb {
      width: 6px;
      height: 6px;
      background-color: var(--theme-blue);
      cursor: pointer;
      -webkit-appearance: none !important;
    }

    &::-webkit-slider-thumb:active {
      border: 0;
      background-color: var(--theme-blue);
    }
  }
}

.audio-info-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
}

.audio-info-song {
  display: flex;
  align-items: center;
  width: 25%;
  max-width: 185px;

  > .cover {
    min-width: 35px;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    overflow: hidden;
    margin-right: 10px;

    > img {
      width: 100%;
      height: 100%;
    }
  }

  > .content {
    width: calc(100% - 45px);
    min-width: 75px;
    max-width: 140px;

    > div {
      width: 100%;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    > .song-name {
      color: var(--label);
      font: 600 14px ping-fang;
    }

    > .song-singer {
      opacity: .6;
      color: var(--tertiary-label);
      font: 400 12px ping-fang;
    }
  }
}

.audio-info-buts {
  width: calc(55%);
  padding: 0;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;

  > .pre, .next {
    position: relative;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  > .play, .pause {
    position: relative;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  > .pre {
    &:before {
      @include device-pixel("~@/renderer/assets/icons/audio/pre_btn");
      content: "";
      width: 28px;
      height: 15px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  > .next {
    &:before {
      @include device-pixel("~@/renderer/assets/icons/audio/next_btn");
      content: "";
      width: 28px;
      height: 15px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  > .play {
    &:before {
      @include device-pixel("~@/renderer/assets/icons/audio/play_btn");
      content: "";
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  > .pause {
    &:before {
      @include device-pixel("~@/renderer/assets/icons/audio/pause_btn");
      content: "";
      width: 17px;
      height: 20px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  > .rules {
    position: relative;
    width: 50px;
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > div {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    > .random {
      &:before {
        content: "";
        width: 15px;
        height: 13px;
        background-color: var(--theme-blue);
      }
    }

    > .single {
      &:before {
        content: "";
        width: 15px;
        height: 13px;
        background-color: var(--theme-blue);
      }
    }
  }

  /*音量条*/
  > .volume {
    padding: 0;
    margin-left: 20px;
    position: relative;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > .volume-icon {
      width: 11px;
      height: 9px;
      background-color: var(--theme-blue);
      margin-right: 8px;
    }

    > .volume-input {
      background: var(--audio-volume);
      width: calc(100% - 19px);
      height: 4px;
      margin: 0;
      padding: 0;
      outline: 0;
      cursor: pointer;
      border-radius: 1px;
      -webkit-appearance: none !important;

      &::-webkit-slider-thumb {
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background-color: var(--theme-blue);
        cursor: pointer;
        -webkit-appearance: none !important;
      }

      &::-webkit-slider-thumb:active {
        border: 0;
        background-color: var(--theme-blue);
      }
    }
  }

}

.audio-info-menu {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  > .sheet {
    width: 20px;
    height: 20px;
    background-color: var(--theme-blue);
  }
}
