* {
  --theme-blue: #3b78d6;
  --theme-pink: #dd4e7c;
  --label: #000000;
  --background: #ffffff;
  --secondary-label: rgba(60, 60, 67, 0.6);
  --tertiary-label: rgba(60, 60, 67, 0.3);
  --separator-color: rgba(60, 60, 67, 0.19);
  --blur-background: rgba(255, 255, 255, 0.8);
  --primary-icon-gray: #555555;

  --red: #e54d42;
  --yellow: #fbbd08;
  --green: #39b54a;
  --black: #333333;
  --white: #ffffff;
}
