@font-face {
  font-family: ping-fang;
  src: url('~@/assets/fonts/PingFang-SC-Regular.ttf');
}

@font-face {
  font-family: segoe-ui;
  src: url('~@/assets/fonts/segoeui.ttf');
}

@font-face {
  font-family: 'ting-font';
  src: url('~@/assets/fonts/ting-font.ttf');
}