@font-face {
  font-family: 'harmony-font';
  src: url('@/assets/fonts/harmony-sc.ttf');
}

@font-face {
  font-family: 'ting-font';
  src: url('@/assets/fonts/ting-font.ttf');
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

html[os-mode="win"],
body[os-mode="win"] {
  font-family: 'harmony-font';
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.container {
  user-select: none;
  width: 100%;
  height: 100%;
  background-color: var(--basic-color);
  color: var(--symbol-color);
}